amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
bcrypt==2.0.0
billiard==3.3.0.23
cffi==1.5.2
colorama==0.3.7
decorator==4.0.9
gnureadline==6.3.3
greenlet==0.4.9
ipython==4.1.2
ipython-genutils==0.1.0
kombu==3.0.35
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
Pillow==3.2.0
ptyprocess==0.5.1
pycparser==2.14
pymongo==2.8
pytz==2016.3
qqwry-py3==1.0.6
qrcode==5.2.2
simplegeneric==0.8.1
six==1.10.0
tornado==4.3
traitlets==4.2.1
ua-parser==0.7.0
