{% extends "base.html" %}
{% block content %}
{% if current_user %}
    {% include "user_navbar.html" %}
{% else %}
    {% include "navbar.html" %}
{% end %}
<div class="text-center">
    <h3>
        链接地址: {{data['url']}}
    </h3>
    <h3>
        名称: {{data['name']}}
    </h3>
    <h3>
        当前访问总数: {{ data['visit'] }}
    </h3>
</div>
<div class="container">
    <h4>区域分布</h4>
     <img src="data:image/png;base64, {{ data['location'] }}">

    <h4>客户端分布</h4>
     <img src="data:image/png;base64, {{ data['client'] }}">

    <h4>时间分布</h4>
     <img src="data:image/png;base64, {{ data['time'] }}">
    <div class="text-center">
        <a href="/statistic">返回列表</a>
    </div>
</div>
{% end %}
