{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    $("#generate").click(function(){
        var value = $("#info").val();
        var data = {
            _xsrf: getCookie("_xsrf"),
            info: value
        };
        $.ajax({
            url: '/',
            type: 'POST',
            data: data,
            success: function (response) {
                $("#qrcode")[0].src = "data:image/jpeg;base64," + response.qrcode;
                $("#statistic")[0].src = "data:image/jpeg;base64," + response.statistic;
            }
        });
    });
 });
</script>
{% if current_user %}
    {% include "user_navbar.html" %}
{% else %}
    {% include "navbar.html" %}
{% end %}
<div class="container">
   <form class="form-horizontal">
       {% module xsrf_form_html() %}
      <div class="form-group">
          {% module xsrf_form_html() %}
          <div class="text-center">
            <h3>一钉</h3>
            <h4>帮你追踪二维码去哪了</h4>
          </div>
          <div class="col-lg-10">
            <input type="text" id="info" class="form-control" id="inputUrl" placeholder="点击输入短链接">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2 text-center">
            <button id="generate" class="btn btn-primary">生成二维码</button>
          </div>
        </div>
    </form>
</div>
<div class="text-center">
    <img id="qrcode" src="" />
    <img id="statistic" src="" />
</div>
{% end %}
